---
layout: main
---

<div class="row">
	<div style="margin-right: 10px" class="column left">
		<div class="buttons">
		<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="svg-icon twitter"></i></a>
		<a href="mailto:{{ site.footer-links.email }}"><i class="svg-icon email"></i></a>
		<a href="https://github.com/{{ site.footer-links.github }}"><i class="svg-icon github"></i></a>
		<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="svg-icon linkedin"></i></a>
		<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"><i class="svg-icon stackoverflow"></i></a>
		<a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon rss"></i></a>
		</div>

 		<div class="superior_menu">
		<a href="{{ site.baseurl }}/books">Books</a><br/>
		<a href="{{ site.baseurl }}/blog">Blog</a><br/>
		<a href="{{ site.baseurl }}/about">About</a><br/>
		<a href="{{ site.baseurl }}/archives">Archives</a><br/>
		<a href="{{ site.baseurl }}/assets">Assets</a><br/>
		</div>

		<div class="inferior_menu">
		<span class="email">brian.d.foy@gmail.com</span>
		</div>

	</div>
	<div class="column right">
		I help people be better programmers through writing, training,
		and speaking. I help people better manage programming by automation
		and testing. I'm well known for my work in Perl.
	</div>
</div>
